/* Global */
@import 'globals.pcss';
@import 'reset-css/reset';

/* Atoms */
@import 'atoms/a-lang.pcss';
@import 'atoms/a-headline.pcss';
@import 'atoms/a-subheading.pcss';

/* Molecules */
@import 'molecules/m-lang-selector.pcss';
@import 'molecules/m-center-text.pcss';

/* Organisms */
@import 'organisms/o-header.pcss';
