.o-event-topic-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

@mixin screen-size xs {
  .o-event-topic-header {
    align-items: center;
  }
};