.a-event-detail {
  @mixin font-sizing lg;
  @mixin font-family primary, bold;
  color: white;
  transform: translate(-50%);
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

@mixin screen-size xs {
  .a-event-detail {
    br{
      display: none;
    }
  }
}
