a.a-link {
  text-decoration: none;
  color: get-color(text, primary);
  transition: opacity .3s ease;

  &:not(.is-active-lang) {
    &:hover {
      opacity: .3;
    }
  }

  &.is-active-lang {
    &:hover{
      cursor: default;
    }
  }
}
