.a-topic-ballon {
  height: 130px;
}

@mixin screen-size xs {
  .a-topic-ballon {
    height: 60px;
    margin-bottom: 15px;
  }
};

@mixin screen-size gt-xs {
  .a-topic-ballon {
    margin: 0 auto;
    margin-bottom: 15px;
  }
};
