
.a-lang {
  @mixin font-setting lg;
  color: get-color();
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s ease;

  &:hover {
    opacity: .3;
  }
}
