.a-lang {
  color: get-color();
  font-family: 'Open Sans', sans-serif;
  font-size: map(fontSizes, lg, font-size);
  line-height: map(fontSizes, lg, line-height);
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s ease;

  &:hover {
    opacity: .3;
  }
}
